@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --mainColor: #242027;
    --mainColorLighter: rgb(36, 34, 39);
    --mainColorLighter2:rgb(139, 135, 146);
    --secondaryColor: rgba(19, 19, 19, 0.45);
    --offWhite: #DCD6F7;
    --offWhiteDark: #8a85a1;
    --accentColor: #8d6ffc;
    --playerColor: #242027;
}

body{
    background-color: black;
    font-family: 'Outfit', sans-serif;
    min-height: 100vh; 
    color: var(--offWhite);
    overflow: hidden !important;
}

.bodyHolder{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    padding: 10px;
    gap: 10px;
}

.bubble{
    position: absolute;
    top: -50%;
    right: -50%;
    width: 1000px;
    aspect-ratio: 1 / 1;
    z-index: -1;
    background-image: radial-gradient(closest-side, rgba(134, 69, 255, 0.25), transparent);
}

.highlightSpan{
    color: var(--accentColor);
    font-weight: 900;
}

ul::-webkit-scrollbar{
    display: none;
}

ul{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

button{
    transition: all .1s ease-in-out !important;
}

.buttonClicked{
    transform: scale(0.8) rotate(2deg) !important;
}

/* ----- HEADER ----- */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    padding-inline: 15px;
    flex-shrink: 0;
    overflow: hidden;
    position: fixed;
    backdrop-filter: blur(20px) brightness(0.9);
    -webkit-backdrop-filter: blur(20px) brightness(0.9);
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

header h2{
    color: var(--offWhite);
    line-height: 20px;
}

.accountName{
    color: var(--accentColor);
    text-transform: uppercase;
}

.accountImage{
    border-radius: 50%;
}

header button{
    background: none;
    border: none;
}

.greeting{
    position: relative;
}

.moodImage{
    position: absolute;
    left: 110%;
    top: -10%;
    font-size: 30px;
    color: var(--accentColor);
    opacity: 0.2;
}

.rotatingI{
    animation: rotatingAnim 15s linear infinite;
    left: 110%;
    top: 0%;
}

.rotatingII{
    top: 1%;
    left: 110%;
    transform: rotate(220deg);
}

@keyframes rotatingAnim {
    0%{ transform: rotate(0deg) scale(1); }
    50%{ transform: rotate(180deg) scale(1.2); }
    100%{ transform: rotate(360deg) scale(1); }
}

/* ----- MAIN ----- */

main{
    width: 100%;
    height: calc(100vh - 70px);
    z-index: 10;
    padding: 15px;
    padding-bottom: 140px;
    padding-top: 80px;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.catTitle{
    font-size: 20px;
}

.catTitleAlone{
    font-size: 20px;
    margin-bottom: 15px;
}

.catDesc{
    font-size: 10px;
    margin: 2px;
    color: var(--offWhiteDark);
    margin-bottom: 15px;
}

/* ----- VibeVault Section ----- */

.vibeVaultItem{
    width: 100%;
    height: 80px;
    background-color: var(--secondaryColor);
    border-radius: 15px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 25px;
    position: relative;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.2);
    gap: 10px;
}

.vibeVaultItem::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border-radius: 15px;
    background-image: url("images/TheVaultBannerImage.gif");
    background-size: cover;
    opacity: 0.4;
}

.vibeVaultItem i{
    font-size: 40px;
    color: var(--offWhite);
    text-shadow: 0px 0px 5px black;
}

.vibeVaultItem button{
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 60%;
    width: 100px;
    border: none;
    background-color: transparent;
    backdrop-filter: blur(10px) brightness(1.2);
    -webkit-backdrop-filter: blur(10px) brightness(1.2);
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.1);
    aspect-ratio: 2 / 1;
    border-radius: 15px;
}

.vibeVaultItem button i{
    color: var(--accentColor);
    text-shadow: 3px 2px 0px rgba(0, 0, 0, 0.4);
    opacity: 1;
    font-size: 23px;
    margin-bottom: 2px;
    margin-left: 1px;
}

.vibeVaultItem h2{
    font-size: 14px;
    text-align: center;
    height: 100%;
    padding-top: 5px;
    flex-grow: 1;
    text-shadow: 0px 0px 5px black;
    text-transform:uppercase;
}

/* ----- Recommended songs Section ----- */

.recSongs{
    list-style: none;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.songItem{
    width: 100%;
    height: 50px;
    background-color: var(--secondaryColor);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 7px;
    position: relative;
}

.songInfo{
    display: flex;
    align-items: center;
    gap: 10px;
    line-height: 18px;
}

.songText h2{
    font-size: 18px;
    margin-top: 2px;
}

.songText h3{
    font-size: 14px;
    color: var(--offWhiteDark);
}

.songInfo img{
    border-radius: 5px;
    width: 35px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.songBtns{
    display: flex;
    gap: 15px;
    padding-right: 5px;
    z-index: 2;
}

.songBtns button{
    background: none;
    border: none;
}

.songBtns i{
    font-size: 20px;
    color: var(--offWhite);
}

.songClickDiv{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 77.5%;
}

/* ----- Recommended artists Section ----- */

.recArtists{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 10px;
}

.artistItem{
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    justify-content: center;
    flex-shrink: 0;
    padding-top: 5px;
}

.artistItem img{
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
}

.artistItem h3{
    text-align: center;
    font-size: 12px;
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--offWhite);
}

/* ----- Recommended playlists Section ----- */

.recPlaylists{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-bottom: 10px;
}

.playlistItem{
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    padding-top: 5px;
}

.playlistItem img{
    width: 100%;
    aspect-ratio: 2 / 1.5;
    object-fit: cover;
    border-bottom: 3px solid var(--accentColor);
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
}

.playlistItem h3{
    text-align: left;
    font-size: 13px;
    width: 100%;
    margin-top: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--offWhite);
}

.playlistItem h5{
    text-align: left;
    font-size: 10px;
    width: 100%;
    margin-top: 2px;
    line-height: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--offWhiteDark);
}

/* ----- LOGIN SCREEN ----- */

.pageBar{
    width: 100%;
    display: flex;
    height: 50px;
    align-items: center;
    padding-inline: 15px;
    justify-content: flex-start;
    gap: 15px;
    border-bottom: 2px solid var(--offWhite);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.4);
}

.pageBar button{
    background: none;
    border: none;
}

.pageBar button i{
    color: var(--offWhite);
    font-size: 23px;
}

.pageBar h2{
    transition: all .45s ease-in-out;
    transform: translateX(100%);
}

.loginScreen{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(22, 20, 27);
    z-index: 999;
    pointer-events: none;
    transform: translateX(110%);
    transition: all .3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vh;
    overflow: hidden !important;
}

.loginScreenOpen{
    transform: translateX(0%);
    pointer-events: all;
}

.loginScreenOpen .pageBar h2{
    transform: translateX(0%);
}

.loginForm{
    padding: 15px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    min-width: 275px;
    transition: all .4s ease-in-out;
    transform: translateX(100%);
    display: none;
}

.loginScreenOpen .loginForm{
    transform: translateX(0%);
}

.loginForm h2{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.loginForm input{
    width: 100%;
    padding: 15px;
    border-radius: 13px;
    border: none;
    font-size: 13px;
    border: 1px solid var(--mainColorLighter);
    background-color: var(--secondaryColor);
    color: var(--offWhite);
}

.loginForm h5{
    font-size: 11px;
    width: 100%;
    text-align: center;
    color: var(--offWhiteDark);
    font-weight: 400;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--mainColorLighter2);
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--mainColorLighter2);
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--mainColorLighter2);
}

.buttonField{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    gap: 5px;
}

.buttonField input, .buttonField button{
    border-radius: 13px;
    background-color: var(--offWhite);
    color: black;
    border: none;
    padding: 15px;
    font-size: 13px;
    font-weight: 600;
}

.buttonField input{
    background-color: var(--secondaryColor);
    border: 1px solid var(--offWhite);
    color: var(--offWhite);
}

.loggedInScreen{
    padding: 15px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    min-width: 275px;
    transition: all .4s ease-in-out;
    transform: translateX(100%);
}

.loginScreenOpen .loggedInScreen{
    transform: translateX(0%);
}

.loggedInScreen img{
    width: 50%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    border: 2px solid var(--offWhite);
}

.loggedInScreen h2{
    text-transform: uppercase;
    text-align: center;
}

.loggedInScreen h5{
    text-align: center;
    color: var(--offWhiteDark);
    line-height: 0px;
    margin-bottom: 10px;
}

.loggedInScreen button{
    width: 100%;
    background-color: var(--offWhite);
    color: black;
    padding: 15px;
    border: none;
    border-radius: 13px;
}

/* ----- PLAYER ----- */

.player{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 80px;
    padding-inline: 10px;
    z-index: 999;
    display: flex;
    flex-direction: column;
    height: 50px;
    overflow: hidden;
    transition: all .4s ease-in-out;
    opacity: 0;
    pointer-events: none;
}

.songBackdrop{
    position: absolute;
    height: 175vh;
    top: -175px;
    left: -175px;
    right: -175px;
    z-index: -1;
    filter: blur(40px) brightness(0.3);
    opacity: 0;
    transition: all .3s ease-in-out;
}

.playerOpen{
    bottom: 0;
    height: calc(100vh + 70px - env(safe-area-inset-bottom) - env(safe-area-inset-top));
    padding-inline: 0px;
}

.playerOpen .bigPlayer .songBackdrop{
    opacity: 1;
}

.playerOpenTop{
    top: -70px;
}

.player .pageBar{
    display: flex;
    justify-content: flex-start;
    box-shadow: none;
    border: none;
    transform: translateY(100%);
    transition: all .5s ease-in-out;
}

.playerOpen .pageBar{
    transform: translateY(0%);
}

.player .pageBar h2{
    font-weight: 200;
    color: var(--offWhiteDark);
    transform: translateX(0%) !important;
    font-size: 17.5px;
}

.player .pageBar span{
    font-weight: 700;
    color: var(--offWhite);
}

/* MINIPLAYER */
.miniPlayer{
    display: flex;
    justify-content: space-between;
    background-color: rgba(37, 37, 37, 0.4);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid var(--mainColorLighter);
    padding: 5px;
    border-radius: 7px;
    transition: all .4s ease-in-out;
}

.playerOpen .miniPlayer{
    background-color: var(--playerColor);
    margin: 10px;
}

.playerSongInfo{
    display: flex;
    align-items: center;
    gap: 8px;
    line-height: 18px;
    margin-left: 3px;
}

.playerSongText h2{
    font-size: 18px;
    margin-top: 2px;
}

.playerSongText h3{
    font-size: 14px;
    color: var(--offWhiteDark);
}

.playerSongInfo img{
    border-radius: 5px;
    width: 35px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.playerSongBtns{
    display: flex;
    gap: 15px;
    padding-right: 10px;
    z-index: 2;
}

.playerSongBtns button{
    background: none;
    border: none;
}

.playerSongBtns i{
    font-size: 25px;
    color: var(--offWhite);
}

.playerClickDiv{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 75%;
}

/* BIGPLAYER */

.bigPlayer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bigSongInfo{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 35px;
    padding-bottom: 0px;
    transition: all .5s ease-in-out;
    transform: translateY(70%);
}

.playerOpen .bigPlayer .bigSongInfo{
    transform: translateY(0%);
}

.bigSongInfo img{
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 5px;
}

.bigSongInfo .playerSongText{
    text-align: left;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bigSongInfo .playerSongText h2{
    font-size: 22px;
}

.bigSongInfo .playerSongText h3{
    line-height: 10px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
}

.bigSongInfo .playerSongText button{
    border: none;
    background: none;
}

.bigSongInfo .playerSongText button i{
    color: var(--offWhite);
    font-size: 24px;
}

.bigControls{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(150%);
    transition: all .47s linear;
}

.playerOpen .bigPlayer .bigControls{
    transform: translateY(0%);
}

.bigControls .bipCC{
    width: 100%;
    padding: 35px;
    padding-top: 0px;
    position: relative;
}

.bigControls .bipCC input{
    width: 100%;
    height: 5px;
}

.bigControls .bipCC span{
    position: absolute;
    font-size: 10px;
    color: var(--offWhiteDark);
}

#currentSongTime{
    left: 37px;
    top: 30%;
}

#currentSongTimeLeft{
    right: 37px;
    top: 30%;
}

.bpCC{
    display: flex;
    gap: 15px;
}

.bpCC button{
    background: none;
    border: none;
}

.bpCC button i{
    color: var(--offWhite);
    font-size: 1.45rem;
    width: 50px;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bigPlayButton{
    
    aspect-ratio: 1 / 1;
}

.bigPlayButton i{
    color: var(--mainColor);
    font-size: 53px !important;
}

.rewindButton i{
    font-size: 30px !important;
}

/* ----- NAV ----- */

nav{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 75px;
    gap: 10px;
    flex-shrink: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    z-index: 99;
    backdrop-filter: blur(20px) brightness(0.9);
    -webkit-backdrop-filter: blur(20px) brightness(0.9);
}

nav button{
    height: 100%;
    border-radius: 10px;
    background-color: var(--mainColor);
    outline: none;
    border: none;
    flex-grow: 1;
    flex-shrink: 0;
    transition: all .2s linear;
}

.activeScreen{
    background-color: var(--accentColor);
}

.activeScreen i{
    color: black !important;
}

nav button i{
    font-size: 25px;
    color: var(--offWhite);
}