@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

:root{
    --bodyBg: black;
    --mainColor: #242027;
    --mainColorLighter: rgba(21, 19, 23, 0.6);
    --mainColorLighter2:rgb(139, 135, 146);
    --secondaryColor: rgba(19, 19, 19, 0.45);
    --offWhite: #DCD6F7;
    --offWhiteDark: #8a85a1;
    --accentColor: #8d6ffc;
    --playerColor: #242027;
    --darken: black;
    --yoursBubbleColor: rgb(90, 0, 27);
    --pageBarColor: rgba(0, 0, 0, 0.8);
    --latestReleaseBox: black;
    --allChColor: rgba(255, 255, 255, 0.2);
    --vibeVault: rgba(27, 12, 52, 0.5);
    --popupScreenBg: linear-gradient(0deg, rgb(57, 29, 107), rgba(0, 0, 0));

    --artistSearch: rgba(0, 128, 0, 0.3);
    --songSearch: rgba(255, 0, 0, 0.2);
    --playlistSearch: rgba(141, 111, 252, 0.5);

    --sidePageback: black;

    --footerBg: rgba(35, 29, 46, 0.7);
}

html{
    touch-action: none;
    -ms-touch-action: none;
    overscroll-behavior-y: none;
    overflow-x: hidden !important;
}

body{
    background-color: var(--bodyBg);
    font-family: 'Outfit', sans-serif;
    min-height: 100vh;
    color: var(--offWhite);
    touch-action: none;
    -ms-touch-action: none;
    overflow: hidden !important;
    overscroll-behavior-y: none;
}

.bodyHolder{
    position: relative;
    height: 100vh;
    overflow: hidden !important;
}

.bubble{
    position: absolute;
    top: -50%;
    right: -50%;
    width: 1000px;
    aspect-ratio: 1 / 1;
    z-index: -1;
    background-image: radial-gradient(closest-side, rgba(134, 69, 255, 0.25), transparent);
    transition: all .2s ease-in-out;
}

.homeScreenBubble{
    background-image: radial-gradient(closest-side, rgba(134, 69, 255, 0.25), transparent);
}

.searchScreenBubble{
    background-image: radial-gradient(closest-side, rgba(134, 69, 255, 0.25), transparent);
}

.yoursScreenBubble{
    background-image: radial-gradient(closest-side, var(--yoursBubbleColor), transparent);
}

.highlightSpan{
    color: var(--accentColor);
    font-weight: 900;
}

ul::-webkit-scrollbar, div::-webkit-scrollbar{
    display: none;
}

ul, div{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

h2::-webkit-scrollbar{
    display: none;
}

h2{
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-weight: 500 !important; 
}

h3::-webkit-scrollbar{
    display: none;
}

h3{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

button{
    transition: all .15s ease-in-out !important;
    cursor: pointer;
}

.buttonTurnedOn i{
    color: var(--accentColor) !important;
}

.buttonClicked{
    transform: scale(0.9) rotate(2deg) !important;
    filter: brightness(0.5);
}

li{
    transition: all .15s ease-in-out;
    cursor: pointer;
}

#changeLoginScreenBtn{
    cursor: pointer;
}

img{
    background-color: var(--offWhiteDark);
}

/* ----- HEADER ----- */

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-inline: 15px;
    padding-top: calc(env(safe-area-inset-top) + 15px);
    padding-bottom: 15px;
    border-bottom: 1px solid var(--playerColor);
    z-index: 80;
    transition: all .3s ease-in-out;
}

header h2{
    color: var(--offWhite);
    line-height: 20px;
}

.accountName{
    color: var(--accentColor);
    text-transform: uppercase;
    font-weight: 700 !important;
}

.accountImage{
    border-radius: 50%;
}

header button{
    background: none;
    border: none;
}

header button img{
    width: 35px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: transparent;
}

.greeting{
    position: relative;
}

.topScrollDiv{
    position: fixed;
    top: -1px;
    left: 0px;
    width: 100vw;
    background-color: red;
    z-index: 99;
    background-color: var(--footerBg);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    height: calc(env(safe-area-inset-top) + 1px);
    transition: all .2s ease-in-out;
    opacity: 0;
}

.topScrollDivOn{
    opacity: 1;
    transition: all .2s ease-in-out;
}

/* ----- MAIN ----- */

main{
    width: 100%;
    height: 100vh;
    z-index: 10;
    padding-bottom: calc(env(safe-area-inset-bottom) + 200px);
    overflow-x: hidden !important;
    overflow-y: scroll !important;
    position: relative;
    flex-direction: column;
    gap: 15px;
    display: none;
    transform: translateX(0%);
    transition: all .35s ease-in-out;
    animation: showUp 0.2s ease-in-out;
    pointer-events: all;
}

.activeMain{
    display: flex;
}

.mainToSide{
    transform: translateX(-40%);
    pointer-events: none;
    opacity: 0 !important;
}

.catTitle{
    font-size: 20px;
    margin-left: 20px;
    width: calc(100% - 40px);
}

.catTitleNoMargin{
    font-size: 20px;
    margin-left: 0px;
    width: calc(100% - 40px);
}

.catTitleAlone{
    font-size: 20px;
    margin-bottom: 15px;
    margin-left: 20px;
    width: calc(100% - 40px);
}

.catDesc{
    font-size: 10px;
    font-weight: 300;
    margin: 2px;
    color: var(--offWhiteDark);
    margin-bottom: 15px;
    margin-left: 20px;
    width: calc(100% - 40px);
}

.scrollTextCl{
    display: inline-block;
    animation: textScroll 6s infinite ease-in-out;
}

@keyframes textScroll {
    0%{ transform: translateX(-10%); }
    40%{ transform: translateX(0%); }
    60%{ transform: translateX(0%); }
    100%{ transform: translateX(-10%); }
}

/* ----- VibeVault Section ----- */

.vibeVaultItem{
    width: calc(100% - 40px);
    height: 150px;
    background-color: var(--vibeVault);
    border-radius: 15px;
    margin-bottom: 15px;
    margin-left: 20px;
    margin-top: 7.5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 25px;
    position: relative;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
    gap: 10px;
}

.vibeVaultItem video{
    z-index: -1;
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    width: 100%;
    object-fit: cover;
    opacity: 1;
    border-radius: 15px;
    filter: contrast(1.5) hue-rotate(-25deg);
}

.vibeVaultItem i{
    font-size: 75px;
    bottom: -19px;
    position: absolute;
    color: #DCD6F7;
    text-shadow: 0px 0px 15px black;
    animation: speakerPulse 2.5s ease-in-out infinite;
}

.vibeVaultItem button{
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 45%;
    width: 120px;
    aspect-ratio: 2 / 1 !important;
    border: none;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid #DCD6F7;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    box-shadow: 0px 0px 25px 1px rgba(104, 76, 126, 0.6);
    border-radius: 15px;
}

.vibeVaultItem button i{
    position: relative;
    bottom: auto;
    color: #DCD6F7;
    opacity: 1;
    font-size: 24px;
    margin-top: 1px;
    margin-left: 5px;
    text-shadow: none;
    animation: none !important;
}

.openedVaultBtn{
    padding-right: 3px;
    padding-left: 0px;
}

.vibeVaultItem h2{
    font-size: 25px;
    text-align: center;
    height: 80%;
    padding-top: 5px;
    flex-grow: 1;
    text-transform: uppercase;
    color: #DCD6F7;
    text-shadow: 0px 0px 10px rgb(195, 159, 219);
}

/* ----- Recommended songs Section ----- */

.recSongs, .categoryRecommendedSongs, .yourPlaylists{
    list-style: none;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 20px;
    padding-block: 0px;
}

.yourPlaylists{
    width: calc(100% - 30px) !important;
    margin-left: 15px !important;
}

.categoryRecommendedSongs, .yourPlaylists{
    padding: 0px;
}

.songItem{
    width: 100%;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px;
    border-radius: 7px;
    position: relative;
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 0.15);
    animation: showUp 0.5s ease-in-out;
}

@keyframes showUp {
    from {
        filter: brightness(0.3) blur(5px);
    }
    to{
        filter: brightness(1) blur(0px);
    }
}

.songPlayingLi{
    background-color: var(--playerColor);
}

.songInfo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.songText h2{
    font-size: 15px;
    width: 50vw;
    margin-top: 0px;
    margin-inline: 0px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.songText h3{
    font-size: 12px;
    color: var(--offWhiteDark);
    line-height: 10px;
    margin-bottom: 3px;
    font-weight: 400;
}

.songInfo img{
    border-radius: 5px;
    width: 40px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.songBtns{
    display: flex;
    gap: 15px;
    padding-right: 10px;
    z-index: 2;
}

.songBtns button{
    background: none;
    border: none;
}

.songBtns i{
    font-size: 20px;
    color: var(--offWhite);
}

.songClickDiv{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: calc(100% - 50px);
}

/* ----- Recommended artists Section ----- */

.recArtists{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
    overflow-x: scroll;
    overflow-y: visible;
    padding-block: 10px;
    padding-inline: 20px;
}

.artistItem{
    width: 125px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    justify-content: center;
    flex-shrink: 0;
    padding-top: 5px;
    animation: showUp 0.5s ease-in-out;
}

.artistItem img{
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
}

.artistItem h3{
    text-align: center;
    font-size: 12px;
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--offWhite);
}

/* ----- Recommended playlists Section ----- */

.recPlaylists, .categoryRecommendedPlaylists{
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    padding-block: 10px;
    padding-inline: 20px;
}

.categoryRecommendedPlaylists{
    padding-left: 0px;
}

.categoryRecommendedPlaylists .playlistItem img{
    box-shadow: none !important;
}

.playlistItem{
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    padding-top: 5px;
    animation: showUp 0.5s ease-in-out;
}

.playlistItem img{
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-bottom: 3px solid var(--accentColor);
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
}

.playlistItem h3{
    text-align: left;
    font-size: 13px;
    width: 100%;
    margin-top: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--offWhite);
}

.playlistItem h5{
    text-align: left;
    font-size: 10px;
    width: 100%;
    margin-top: 2px;
    line-height: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--offWhiteDark);
    font-weight: 300;
}

/* ----- SEARCH SCREEN ----- */

.searchScreen form{
    width: calc(100% - 30px);
    display: flex;
    gap: 5px;
    margin-left: 15px;
}

.searchScreen input{
    padding: 15px;
    width: 80%;
    flex-grow: 1;
    border-radius: 10px;
    border: none;
    background-color: var(--mainColorLighter);
    border: 1px solid var(--playerColor);
    color: var(--offWhite);
}

#submitSearch{
    width: 20%;
    max-width: 60px;
    background-color: var(--offWhite);
    color: var(--mainColor);
    border: 1px solid var(--mainColor);
    transition: all .3s ease-in-out;
    font-size: 15px;
}

.searchList{
    flex-direction: column;
    gap: 5px;
    width: calc(100% - 30px);
    display: none;
    margin-left: 15px;
}

.searchListOpen{
    display: flex;
}

.songItemSearch{
    border-bottom: 1px solid var(--songSearch);
}

.artistItemSearch{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: space-between;
    flex-shrink: 0;
    padding-block: 5px;
    padding-right: 15px;
    padding-left: 5px;
    background-color: var(--secondaryColor);
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.15);
    border: 1px solid var(--mainColorLighter);
    border-bottom: 1px solid var(--artistSearch);
    border-radius: 30px;
}

.artistItemSearch div{
    width: 80%;
    display: flex;
    gap: 10px;
    align-items: center;
}

.artistItemSearch img{
    width: 40px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2);
    border: 1px solid var(--mainColorLighter);
}

.artistItemSearch h3{
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--offWhite);
}

.artistItemSearch i{
    font-size: 20px;
}

.playlistItemSearch{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: space-between;
    flex-shrink: 0;
    padding-block: 5px;
    padding-right: 15px;
    padding-left: 5px;
    background-color: var(--secondaryColor);
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.15);
    border: 1px solid var(--mainColorLighter);
    border-bottom: 1px solid var(--playlistSearch);
    border-radius: 10px;
}

.playlistItemHolder{
    display: flex;
    align-items: center;
    gap: 10px;
}

.playlistItemHolder img{
    width: 40px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid var(--mainColorLighter);
}

.playlistItemHolder div h3{
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--offWhite);
}

.playlistItemHolder div h5{
    font-size: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--offWhiteDark);
}

.playlistItemSearch i{
    font-size: 20px;
}

.searchBar{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5px;
}

.SearchTypeChips{
    display: flex;
    width: 100%;
    overflow-x: scroll;
    align-items: center;
    gap: 5px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    padding-left: 15px;
    padding-right: 15px;
}

.SearchTypeChips::-webkit-scrollbar{
    display: none;
}

.searchChip{
    width: 90px;
    height: 37.5px;
    position: relative;
    flex-shrink: 0;
}

.searchChip input{
    appearance: none !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: calc(100% - 4px) !important;
    border: none;
    margin-block: 2px;
    position: absolute;
    border-radius: 40px !important;
    background-color: var(--mainColorLighter);
    z-index: 1;
    transition: all .1s ease-in-out;
    cursor: pointer;
}

.allchipCh{
    background-color: var(--allChColor)  !important;
}

.searchChip label{
    position: absolute;
    pointer-events: none;
    z-index: 2;
    font-size: 13px;
    top: 0;
    left: 0;
    height: calc(100% - 2px);
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ----- CATEGORIES ----- */

.categories{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: calc(100% - 30px);
    margin-left: 15px;
}

.catItems{
    width: 100%;
    height: 85px;
    gap: 10px;
    display: flex;
    align-items: center;
}

.catItems:hover{
    transform: scale(1) !important;
}

.catItem{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
    position: relative;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg width='32' height='26' viewBox='0 12 32 26' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14 0v3.994C14 7.864 10.858 11 7 11c-3.866 0-7-3.138-7-7.006V0h2v4.005C2 6.765 4.24 9 7 9c2.756 0 5-2.236 5-4.995V0h2zm0 26v-5.994C14 16.138 10.866 13 7 13c-3.858 0-7 3.137-7 7.006V26h2v-6.005C2 17.235 4.244 15 7 15c2.76 0 5 2.236 5 4.995V26h2zm2-18.994C16 3.136 19.142 0 23 0c3.866 0 7 3.138 7 7.006v9.988C30 20.864 26.858 24 23 24c-3.866 0-7-3.138-7-7.006V7.006zm2-.01C18 4.235 20.244 2 23 2c2.76 0 5 2.236 5 4.995v10.01C28 19.765 25.756 22 23 22c-2.76 0-5-2.236-5-4.995V6.995z' fill='%23000000' fill-opacity='0.1' fill-rule='even'/%3E%3C/svg%3E");
    background-size: 75px 100px;
    border: 1px solid var(--playerColor);
    border-bottom: 2px solid var(--offWhite);
    box-shadow: inset 0px 0px 200px 0px rgba(0, 0, 0, 0.2);
    transition: all .2s ease-in-out;
}

.catItem h3{
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-size: 17px;
    text-shadow: 0px 0px 1px black;
    padding: 5px;
    padding-left: 10px;
    color: #DCD6F7;
}

/* ----- LOGIN SCREEN ----- */

.pageBar{
    width: 100%;
    display: flex;
    height: calc(env(safe-area-inset-top) + 50px);
    align-items: flex-end;
    padding-bottom: 10px;
    padding-inline: 15px;
    justify-content: flex-start;
    gap: 15px;
    border-bottom: 1px solid var(--playerColor);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}

.pageBar button{
    background: none;
    border: none;
    margin-bottom: 2px;
}

.pageBar button i{
    color: var(--offWhite);
    font-size: 23px;
}

.pageBar h2{
    transition: all .45s ease-in-out;
    transform: translateX(100%);
}

.closeCurrentScreen{
    position: absolute;
    top: 45px;
    bottom: 0;
    left: 0;
    width: 5vw;
    z-index: 1;
}

.loginScreen{
    position: absolute;
    top: 0px;
    min-height: 100vh;
    left: 0;
    width: 100vw;
    background-color: var(--bodyBg);
    background-image: var(--sidePageback);
    z-index: 999;
    pointer-events: none;
    transform: translateX(110%);
    transition: all .35s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden !important;
}

.loginScreen .pageBar{
    background-color: var(--pageBarColor) !important;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 2;
}

.loginScreenOpen{
    transform: translateX(0%);
    pointer-events: all;
}

.loginScreenOpen .pageBar h2{
    transform: translateX(0%);
}

.loginScreen .screenScrollable{
    position: absolute;
    top: 0;
    padding-top: calc(env(safe-area-inset-top) + 50px);
}

.loginForm{
    padding: 10px;
    margin: auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    min-width: 375px;
    max-width: 500px;
    transition: all .4s ease-in-out;
    transform: translateX(100%);
    margin-top: 10vh;
}

.loginScreenOpen .loginForm{
    transform: translateX(0%);
}

.loginForm h2{
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.loginForm input{
    width: 100%;
    padding: 15px;
    border-radius: 13px;
    border: none;
    font-size: 13px;
    border: 1px solid var(--mainColor);
    background-color: var(--mainColorLighter);
    color: var(--offWhite);
}

.loginForm h5{
    font-size: 11px;
    width: 100%;
    text-align: center;
    color: var(--offWhiteDark);
    font-weight: 400;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: var(--mainColorLighter2);
    opacity: 1; /* Firefox */
}
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: var(--mainColorLighter2);
}
  
::-ms-input-placeholder { /* Microsoft Edge */
    color: var(--mainColorLighter2);
}

.buttonField{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 20px;
    gap: 5px;
}

.buttonField input, .buttonField button{
    border-radius: 13px;
    background-color: var(--offWhite);
    color: var(--bodyBg);
    border: none;
    padding: 15px;
    font-size: 13px;
    font-weight: 600;
}

.buttonField input{
    background-color: var(--secondaryColor);
    border: 1px solid var(--offWhite);
    color: var(--offWhite);
}

.loggedInScreen{
    padding: 15px;
    width: 100%;
    min-width: 275px;
    transition: all .4s ease-in-out;
    transform: translateX(100%);
    display: flex;
    gap: 15px;
    flex-direction: column;
}

hr{
    width: 100%;
    height: 1px;
    border: none;
    border-radius: 5px;
    background-color: var(--mainColorLighter);
}

.logOutSection{
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-width: 275px;
    align-items: center;
}

.loginScreenOpen .loggedInScreen{
    transform: translateX(0%);
}

.loggedInScreen img{
    width: 33px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background-color: transparent;
}

.accountInfo{
    display: flex;
    gap: 15px;
}

.accountInfo img{
    width: 40px;
    aspect-ratio: 1 / 1;
}

.loggedInScreen h2{
    text-transform: uppercase;
    font-weight: 500;
}

.loggedInScreen h5{
    color: var(--offWhiteDark);
    line-height: 0px;
    margin-bottom: 10px;
    font-weight: 300;
}

.loggedInScreen button{
    width: 110px;
    background-color: var(--offWhite);
    color: var(--mainColor);
    color: var(--bodyBg);
    padding: 11px;
    border: none;
    font-size: 13px;
    font-weight: 600;
    border-radius: 10px;
}

/* ----- THEME IN SETTINGS ----- */

.themeSection{
    width: 100%;
}

.themeSection div{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.themeItem{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.themeItem img{
    border-radius: 0px !important;
    width: 60%;
    aspect-ratio: 1 / 2;
    background-color: transparent !important;
}

.themeItem h3{
    text-transform: uppercase;
    font-weight: 200;
}

.themeSection div .fullInput{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.themeSection div input[type="checkbox"]{
    margin-right: 0px !important;
    width: 30px;
    height: 30px;
}

/* ----- VERSION IN SETTINGS ----- */

.versionSection{
    display: flex;
    flex-direction: column;
}

.versionSection img{
    width: 50px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border: 1px solid var(--playerColor);
}

.versionSection h5{
    font-size: 10px;
    line-height: 10px;
    font-weight: 300;
}

/* ----- TOGGLES IN SETTINGS ----- */

.toggleSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggleSection .toggleText{
    width: 75%;
}

.toggleSection .toggleText h5{
    font-size: 10px;
    line-height: 10px;
    font-weight: 300;
}

.loginScreen input[type="checkbox"]{
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: var(--mainColor);
    /* Not removed via appearance */
    font: inherit;
    color: currentColor;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border: 1px solid var(--offWhite);
    border-radius: 50%;
    display: grid;
    place-content: center;
    margin-bottom: 10px;
    margin-right: 10px;
}

.loginScreen input[type="checkbox"]::before{
    content: "";
    width: 1em;
    height: 1em;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    transform-origin: left;
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--offWhite);
    /* Windows High Contrast Mode */
    background-color: var(--offWhite);
}
  
.loginScreen input[type="checkbox"]:checked::before{
    transform: scale(1);
}

/* ----- ARTIST SCREEN ----- */

.artistScreen, .playlistScreen, .categoryScreen, .makePlaylistScreen{
    position: absolute;
    top: 0px;
    min-height: 100vh;
    left: 0;
    width: 100vw;
    background-color: var(--darken);
    z-index: 999;
    pointer-events: none;
    transform: translateX(110%);
    transition: all .35s ease-in-out;
    z-index: 99;
    overflow: hidden;
}

.screenScrollable{
    width: 100%;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    display: flex;
    padding-bottom: 225px;
    flex-direction: column;
}

.artistScreen .closeCurrentScreen, .playlistScreen .closeCurrentScreen, .categoryScreen .closeCurrentScreen, .makePlaylistScreen .closeCurrentScreen{
    z-index: 3;
}

.artistScreenOpen, .playlistScreenOpen, .categoryPageOpen, .makePlaylistScreenOpen{
    transform: translateX(0%);
    pointer-events: all;
}

.artistScreen .pageBar, .playlistScreen .pageBar, .categoryScreen .pageBar, .makePlaylistScreen .pageBar{
    z-index: 99;
    top: 0px;
    border: none;
    border-bottom: 2px solid transparent;
    box-shadow: none;
    position: fixed;
    transition: all 0.3s ease-in-out;
}

.makePlaylistScreen .pageBar{
    background-color: var(--pageBarColor);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-bottom: 1px solid var(--playerColor) !important;
}

.artistScreen .pageBar h2, .playlistScreen .pageBar h2, .categoryScreen .pageBar h2{
    opacity: 0;
    transition: all 0.45s ease-in-out;
    font-weight: 500;
}

.pageBarOn{
    background-color: var(--pageBarColor);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-bottom: 1px solid var(--playerColor) !important;
}

.pageBarOn2{
    opacity: 0;
}

.pageBarOn h2{
    opacity: 1 !important;
    transform: translateX(0%) !important;
}

.artistScreen .pageBar button i, .playlistScreen .pageBar button i, .categoryScreen .pageBar button i, .makePlaylistScreen .pageBar button i{
    text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
}

.artistScreenOpen .pageBar h2, .playlistScreenOpen .pageBar h2, .categoryScreenOpen .pageBar h2{
    transform: translateX(100%);
}

.makePlaylistScreen .pageBar h2{
    line-height: 26px;
    font-weight: 500;
}

.makePlaylistScreenOpen .pageBar h2{
    transform: translateX(0%);
}

.artistInfo{
    width: 100%;
}

.artistInfo img{
    position: absolute;
    width: 100%;
    top: 0;
    object-fit: cover;
    height: calc(env(safe-area-inset-top) + 400px);
    border-bottom: 1px solid var(--playerColor);
    transition: all 0.03s ease-in-out;
}

.artistControls{
    padding-block: 5px;
    padding-inline: 15px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 275px;
    gap: 10px;
    padding-bottom: 14px;
}

.darken{
    position: absolute;
    width: 100%;
    height: 80%;
    bottom: -5px;
    background: linear-gradient(0deg, var(--darken), transparent);
    z-index: 1;
}

.artistText{
    display: flex;
    flex-direction: column;
    z-index: 2;
}

.artistControls h3{
    text-align: center;
    color: var(--offWhite);
    font-size: 30px;
}

.artistControls h5{
    text-align: center;
    color: var(--offWhite);
    font-size: 13px;
}

.artistBtns{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    z-index: 2;
}

.artistBtns button{
    background: var(--offWhite);
    color: var(--bodyBg);
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    gap: 10px;
    padding-inline: 15px;
    font-weight: 600;
    min-width: 100px;
}

.artistBtns button i{
    color: var(--sidePageback);
    font-size: 20px;
}

#aboutTheArtist{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    border: 1px solid var(--playerColor);
    position: relative;
    overflow: hidden;
}

#aboutTheArtist img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.25;
    z-index: -1;
}

#aboutTheArtist p{
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    padding: 10px;
    font-size: 12px;
    color: var(--offWhiteDark);
}

.artistWork, .playlistWork, .catWork{
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 2;
    background-color: var(--bodyBg);
}

.catWork{
    background: linear-gradient(180deg, transparent, var(--bodyBg), var(--bodyBg), var(--bodyBg), var(--bodyBg));
}

#catH3Title{
    text-shadow: 0px 0px 50px var(--darken), 0px 0px 1px var(--darken);
}

.latestRelease{
    width: 100%;
    padding: 10px;
    background-color: var(--secondaryColor);
    border-radius: 10px;
    box-shadow: 0px 0px 15px var(--latestReleaseBox);
    border: 1px solid rgb(30, 27, 34);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.latestRelease li{
    border: 1px solid var(--offWhite);
    background-color: var(--bodyBg);
}

.latestRelease img{
    width: 35px;
    border-radius: 5px;
    aspect-ratio: 1 / 1;
}

.latestPin{
    position: absolute;
    padding: 3px;
    padding-inline: 10px;
    background-color: var(--offWhite);
    color: var(--bodyBg);
    border-radius: 20px;
    font-size: 12px;
    top: -15px;
    left: -5px;
    border: 1px solid var(--bodyBg);
    transform: rotate(-5deg);
}

.artistAppearsOn{
    display: flex;
    align-items: center;
    gap: 10px;
    overflow-x: scroll;
}

.artistAppearsOn .playlistItem img{
    box-shadow: none !important;
}

.artistTopTracks, .playlistSongsList{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    min-height: 50px;
}

#likePlaylist{
    min-width: 0px !important;
    width: auto !important;
    aspect-ratio: 1 / 1 !important;
    padding-inline: 5px !important;
    padding-top: 6px !important;
    padding-left: 5px !important;
}

#addToPlaylistBtn{
    min-width: 0px !important;
    width: 30px !important;
    aspect-ratio: 1 / 1 !important;
    padding-inline: 8px !important;
    padding-left: 7px !important;
    padding-block: 0px !important;
    display: none;
}

.categoryAccentBubble{
    position: absolute;
    background: radial-gradient(closest-side, red, transparent);
    width: 200vw;
    top: -40vh;
    left: -50vw;
    height: 90vh;
    filter: blur(50px);
    transition: all 0.2s ease-in-out;
    animation: blink 4s ease-in-out infinite;
    z-index: -1;
    opacity: 0.8;
}

@keyframes blink {
    0% {
      opacity: 0.8;
      transform: translateY(0%);
    }
    50% {
      opacity: 0.6;
      transform: translateY(-5%);
    }
    100% {
      opacity: 0.8;
      transform: translateY(0%);
    }
}

.center{
    text-align: center;
}

.categoryScreen .screenScrollable .artistInfo .artistControls{
    padding-top: 160px;
    padding-bottom: 0px !important;
}

.catBanner{
    height: calc(env(safe-area-inset-top) + 200px) !important;
}

/* ----- LIBRARY / YOURS SCREEN ----- */

.yoursScreen h1{
    display: flex;
    justify-content: space-between;
    width: calc(100% - 30px);
    margin-left: 15px;
}

.yoursScreen h1 div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0px;
}

.yoursScreen h1 button{
    width: 40px;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
}

.yoursScreen h1 button i{
    font-size: 26px;
    color: var(--offWhite);
}

.yoursScreen h1 button:nth-child(1) i{
    font-size: 22px;
    margin-top: 2px;
}

.favouritesItem{
    transition: all .1s ease-in-out;
    border-radius: 10px !important;
    height: 70px;
    width: calc(100% - 30px);
    margin-left: 15px;
    background: linear-gradient(45deg,rgba(0, 0, 0, 1),rgba(0, 0, 0, 1) ,rgba(97, 0, 40, 1));
}

.favouritesItem .songInfo img{
    width: 60px;
    border-radius: 6px;
    filter: hue-rotate(-20deg) saturate(0.6) brightness(0.7);
}

.favouritesItem .songInfo .songText h2{
    font-size: 25px;
    color: #DCD6F7;
}

.favouritesItem .songInfo .songText h3{
    font-size: 13px;
    line-height: 7px;
    margin-bottom: 10px;
    opacity: 0.7;
    color: #8a85a1;
}

/* ----- MAKE A PLAYLIST ----- */

.makePlaylistForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    padding-top: 75px;
    width: 100%;
    gap: 15px;
}

.formImageInput{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formImageInput div{
    background-color: rgb(26, 14, 20);
    width: 250px;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--playerColor);
    border-radius: 10px;
    color: var(--playerColor);
    box-shadow: 0px 0px 20px black;
    background-size: cover;
}

.formImageInput div i{
    font-size: 50px;
    color: var(--playerColor);
    text-shadow: 0px 0px 20px black;
}

.formImageInput input{
    display: none;
}

#nameInput{
    padding: 10px;
    width: 250px;
    border-radius: 10px;
    border: 1px solid var(--playerColor);
    background-color: var(--mainColorLighter);
    color: var(--offWhite);
}

#submitMakePlaylist{
    width: 250px;
    background-color: var(--offWhite);
    border: 1px solid var(--playerColor);
    padding: 15px;
    width: 250px;
    border-radius: 10px;
    color: var(--bodyBg) !important;
    font-weight: 700;
    font-size: 15px;
}

/* ----- POPUP ----- */

#popupWrapper{
    top: 0px;
    height: 100vh;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0);
    position: fixed;
    z-index: 9999;
    gap: 15px;
    padding: 15px;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
}

.popupOpen{
    background-color: rgba(0, 0, 0, 0.4) !important;
    backdrop-filter: blur(2px) brightness(0.8);
    -webkit-backdrop-filter: blur(2px) brightness(0.8);
    pointer-events: all !important;
}

.closePopup{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.popupScreen{
    width: 100%;
    height: 60%;
    background: var(--popupScreenBg);
    box-shadow: 0px 0px 30px rgb(0, 0, 0);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top: 1px solid #242027;
    position: absolute;
    overflow: scroll;
    bottom: 0px;
    left: 0px;
    transform: translateY(300%);
    transition: all 0.5s ease-in-out;
    overflow: scroll;
}

.popupOpen .popupScreen{
    transform: translateY(0%);
}

.popupPl{
    top: 0px !important;
    height: 100% !important;
    border-radius: 0px;
    border: none;
    padding-top: env(safe-area-inset-top);
}

#addToPlBtn{
    padding: 0px;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    border-bottom: none;
}

#addToPlBtn .playlistAddPopup{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 22px;
    padding: 15px;
    border-bottom: 1px solid #242027;
    font-weight: 100;
    padding: 20px;
    transition: all .3s ease-in-out;
    width: 100%;
}

#addToPlBtn #closePopupPlBtn{
    background-color: var(--offWhite);
    border: none;
    border-radius: 7px;
    padding-inline: 30px;
    padding-block: 7px;
    margin-top: 5px;
    display: none;
    color: var(--bodyBg);
}

.popupMyPlaylists{
    display: none;
    margin-top: 5px;
    margin-bottom: calc(env(safe-area-inset-bottom) + 15px);
    width: calc(100% - 30px);
}

.popupMyPlaylists .songItem{
    overflow: hidden;
}

.popupPl .songPopupBody #addToPlBtn .popupMyPlaylists{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.popupPl .songPopupBody #addToPlBtn #closePopupPlBtn{
    display: block;
}

.greenSidePl{
    position: absolute;
    width: 70%;
    height: 200%;
    right: -20%;
    top: -50%;
    z-index: -1;
    pointer-events: none;
    filter: blur(20px);
    background: linear-gradient(90deg, transparent, rgba(172, 255, 47, 0.4));
    opacity: 0;
    transition: all .4s ease-in-out;
}

.checkAnim{
    transition: all .2s ease-in-out;
    color: var(--offWhite);
}

.greenCheck button i{
    color: greenyellow !important;
}

.greenCheck .greenSidePl{
    opacity: 1;
}

.popupInfo{
    align-items: center;
    padding-bottom: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #242027;
    padding: 20px;
    padding-top: 30px;
    color: #DCD6F7;
}

.popupInfo img{
    width: 75px;
    border-radius: 10px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

.popupText{
    flex-grow: 1;
    color: #DCD6F7;
}

.popupText h2{
    font-size: 22px;
    line-height: 22px;
    font-weight: 500;
    color: var(--offWhite);
    text-align: center;
}

.popupText h3{
    font-size: 13px;
    line-height: 13px;
    font-weight: 300;
    color: #8a85a1;
    text-align: center;
}

.popupInfo i{
    font-size: 25px;
    margin-right: 10px;
}

.popupItem{
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 22px;
    padding: 15px;
    border-bottom: 1px solid #242027;
    font-weight: 100;
    padding: 20px;
    transition: all .3s ease-in-out;
}

.popupItem h5{
    font-weight: 500;
    transition: none;
    color: var(--offWhite);
}

.popupItem i{
    font-size: 20px;
    color: var(--offWhite);
}

.likeBtnAnim{
    animation: danceBtn 0.3s;
}

@keyframes danceBtn {
    0%{
        background-color: rgba(255, 0, 0, 0);
        filter: brightness(1);
    }
    50%{
        background-color: rgba(111, 0, 255, 0.15);
        filter: brightness(2);
    }
    100%{
        background-color: rgba(255, 0, 0, 0);
        filter: brightness(1);
    }
}

/* ----- PLAYER ----- */

.player{
    position: fixed;
    left: 0;
    right: 0;
    top: auto;
    bottom: calc(-100svh + 85px + calc(env(safe-area-inset-bottom) * 0.6));
    z-index: 999;
    display: flex;
    flex-direction: column;
    height: calc(100svh + 55px) !important;
    overflow: hidden;
    transition: all .3s ease-in-out;
    opacity: 0;
    pointer-events: none;
    transform: translateY(300%) translateZ(0);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    background-color: transparent;
}

.playerMovable{
    transition: none;
}

.darkenPlayer{
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: black;
    opacity: 0;
    transition: all .3s ease-in-out;
}

.songBackdrop{
    position: absolute;
    height: calc(100vh + 20px);
    top: -10px;
    left: -10px;
    width: calc(100vw + 20px);
    object-fit: cover;
    z-index: -1;
    pointer-events: none;
    filter: brightness(0.4) blur(20px) saturate(2.5);
    transform: translate3d(0, 0, 0) translateZ(0);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    opacity: 0;
}

.playerOpen .songBackdrop{
    opacity: 1;
}

.playerSongInfo img{
    border-radius: 5px;
    width: 45px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

/* ----- LANDSCAPE ORIENTATION ----- */
@media screen and (orientation: landscape) {
    .player{
        height: 70px;
    }
    .playerSongInfo img{
        width: 55px;
    }
}

.playerOpen{
    bottom: 0;
    background-color: rgba(35, 29, 46, 1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top: 1px solid #242027;
}

.player .draggableBarTop{
    display: none;
}

.player .draggableBarTop div{
    background-color: #DCD6F7 !important;
}

.playerOpen .draggableBarTop{
    display: flex;
}

@media screen and (orientation: landscape) {
    .playerOpen{
        height: calc(100svh);
    }
}

.player .pageBar{
    display: flex;
    justify-content: space-between;
    box-shadow: none;
    border: none;
    transform: translateY(200%);
    transition: all .2s ease-in-out;
    padding-top: 0px !important;
    padding-bottom: 20px !important;
    z-index: 4;
    height: 50px;
}

.playerOpen .pageBar{
    transform: translateY(0%);
}

.player .pageBar h2{
    font-weight: 200 !important;
    color: #8a85a1;
    transform: translateX(0%) !important;
    font-size: 17px;
    line-height: 17px;
    text-shadow: 0px 0px 20px black;
    flex-grow: 1;
    pointer-events: none;
    margin-bottom: 8px;
    margin-right: 2px;
    text-align: center;
}

.smallH2{
    margin-bottom: 0px !important;
    font-size: 14px !important;
    line-height: 14px !important;
}

.player .pageBar span{
    font-weight: 300;
    color: #DCD6F7;
}

.player .pageBar button i{
    color: #DCD6F7;
}

.player .pageBar button{
    z-index: 2;
    width: 30px;
}

/* MINIPLAYER */
.miniPlayer{
    display: flex;
    justify-content: space-between;
    padding: 7px;
    transition: opacity .1s ease-in-out, margin .4s ease-in-out;
    z-index: 2;
    position: relative;
    background-color: var(--footerBg);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    margin: 7px;
    border-radius: 10px;
}

.playerOpen .miniPlayer .playerClickDiv{
    display: none;
}

.playerOpen .playerClickDiv2{
    display: block;
}

.playerOpen .miniPlayer{
    opacity: 0;
    margin: 0px;
}

.miniSeek{
    position: absolute;
    top: 1px;
    left: 10px;
    width: calc(100% - 20px);
    height: 1px;
    background-color: rgba(255, 255, 255, 0.2);
}

#miniSeekBar{
    width: 0%;
    height: 100%;
    background-color: var(--offWhite);
}

.playerSongInfo{
    display: flex;
    align-items: center;
    gap: 8px;
    line-height: 18px;
    margin-left: 3px;
}

.miniPlayer .playerSongInfo .playerSongText h2{
    width: 57vw !important;
}

.playerSongText h2{
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 62vw;
    font-weight: 500;
    color: var(--offWhite);
    position: relative;
}

.playerSongText h2 div{
    white-space: nowrap;
    width: 100%;
}

.playerSongText h3{
    font-size: 14px;
    color: var(--offWhiteDark);
    font-weight: 300;
    line-height: 14px;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 57vw;
}

.playerSongBtns{
    display: flex;
    gap: 15px;
    padding-right: 5px;
    z-index: 2;
}

.playerSongBtns button{
    background: none;
    border: none;
}

.playerSongBtns i{
    font-size: 27.5px;
    color: var(--offWhite);
}

.playerClickDiv{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: calc(100% - 95px);
}

.playerClickDiv2{
    position: fixed;
    top: -50vh;
    z-index: 1;
    height: 200vh;
    left: -5vw;
    width: 120vw;
    display: none;
}

/* BIGPLAYER */

.bigPlayer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bigSongInfo{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 15px;
    padding-top: 100px;
    gap: 10px;
    padding-bottom: 0px;
    transition: all .5s ease-in-out;
    transform: translateY(70%);
}

.playerOpen .bigPlayer .bigSongInfo{
    transform: translateY(0%);
}

.bigSongInfo img{
    width: 87vw;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 15px;
    border: 1px solid var(--playerColor);
    box-shadow: 0px 0px 65px 5px rgba(0, 0, 0, 1);
    z-index: 0;
    transition: all .45s ease-in-out;
    animation: popInBanner .45s ease-in-out;
}

.playerBannerAway{
    position: absolute;
    transform: translateX(200%);
}

@keyframes popInBanner {
    0%{ transform: translateX(200%); }
    1000%{ transform: translateX(0%); }
}

/* ---- ORIENT - LANDSCAPE PLAYER */

@media screen and (orientation: landscape) {
    .bigSongInfo{
        flex-direction: row;
    }
    .bigSongInfo img{
        width: 30% !important;
    }
}

.bigSongInfo .playerSongText{
    text-align: left;
    width: 98%;
    padding: 2.5px;
    padding-top: 10px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
    transition: all .45s ease-in-out;
    animation: popInBanner .45s ease-in-out;
}

.littleSongBtns{
    display: flex;
    align-items: center;
    gap: 20px;
}

.bigSongInfo .playerSongText h2{
    font-size: 22px;
    text-align: left;
    overflow: scroll;
    overflow-y: visible;
    text-overflow: clip;
    white-space: nowrap;
    flex-grow: 1;
    font-weight: 500;
    color: #DCD6F7;
}

.bigSongInfo .playerSongText h3{
    line-height: 14px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1px;
    text-align: left;
    overflow: scroll;
    overflow-y: visible;
    text-overflow: clip;
    white-space: nowrap;
    flex-grow: 1;
    color: #8a85a1;
}

.bigSongInfo .playerSongText button{
    border: none;
    background: none;
}

.bigSongInfo .playerSongText button i{
    color: #DCD6F7;
    font-size: 24px;
}

.playerLyrcis{
    padding-block: 65px;
    position: relative;
    width: 85vw;
    height: 55vh;
    overflow-y: scroll;
    overflow-x: hidden;
    display: none;
    margin-bottom: 25px;
    z-index: 99;
    font-size: 2.1rem;
    line-height: 2.2rem;
    font-weight: 500;
    text-align: center;
    transition: all .45s ease-in-out;
    animation: popInLyrics .45s ease-in-out;
}

@keyframes appear {
    0%{ opacity: 0; }
    100%{ opacity: 1; }
}

.playerLyrcisOn:after {
    content: "";
    position: fixed;
    z-index: 1;
    bottom: 24px;
    left: 0;
    pointer-events: none;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgb(0, 0, 0) 90%);
    width: 100%;
    height: 4em;
    animation: appear .3s ease-in-out;
}

.playerLyrcisOn:before {
    content: "";
    position: fixed;
    z-index: 1;
    top: 99px;
    left: 0;
    pointer-events: none;
    background-image: linear-gradient(to top, rgba(255,255,255,0), rgb(0, 0, 0) 90%);
    width: 100%;
    height: 4em;
    animation: appear .3s ease-in-out;
}

.playerLyricsAway{
    position: absolute;
    transform: translateX(-200%);
}

@keyframes popInLyrics {
    0%{ transform: translateX(-200%); }
    1000%{ transform: translateX(0%); }
}

.bigControls{
    position: absolute;
    top: 0px;
    bottom: 0;
    padding-bottom: calc(env(safe-area-inset-bottom));
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
    transform: translateY(50%);
    transition: all .1s linear;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), transparent);
    opacity: 0;
}

.playerOpen .bigPlayer .bigControls{
    opacity: 1;
}

.playerOpen .bigPlayer .bigControls{
    transform: translateY(0%);
}

.bigControls .bipCC{
    width: 85vw;
    padding: 0px;
    padding-bottom: 30px;
    position: relative;
    z-index: 3;
}

.bigControls .bipCC input{
    width: 100%;
    height: 5px;
}

.bigControls .bipCC span{
    position: absolute;
    font-size: 10px;
    color: #8a85a1;
    top: 50%;
}

#currentSongTime{
    left: 0px;
}

#currentSongTimeLeft{
    right: 0px;
}

.bpCC{
    display: flex;
    justify-content: space-between;
    width: 90vw;
    max-width: 650px;
    align-items: center;
    z-index: 3;
}

.bpCC button{
    background: none;
    border: none;
}

.bpCC button i{
    color: #DCD6F7;
    font-size: 1.9rem;
    width: 55px;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bigPlayButton{
    aspect-ratio: 1 / 1;
}

.bigPlayButton i{
    color: var(--mainColor);
    font-size: 3.9rem !important;
    margin-inline: 5px;
}

.rewindButton i{
    font-size: 2.3rem !important;
}

.bCC{
    display: flex;
    width: 90vw;
    max-width: 650px;
    justify-content: space-between;
    gap: 15px;
    margin-top: 10px;
    z-index: 3;
}

.bCC button{
    background: none;
    border: none;
}

.bCC button i{
    color: #DCD6F7;
    font-size: 15px;
    width: 25px;
    margin-inline: 10px;
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* ----- NAV ----- */

nav{
    position: fixed;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    flex-shrink: 0;
    bottom: -1px;
    left: 0;
    right: 0;
    padding: 15px;
    padding-bottom: calc(calc(env(safe-area-inset-bottom) * 0.6) + 16px);
    z-index: 1000;
    background-color: var(--footerBg);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: all 0.4s ease-in-out;
    box-shadow: 0px 0px 15px rgba(5, 1, 20, 0.3);
}

.navClosed{
    transform: translateY(150%);
}

.navBig{
    display: none;
    top: env(safe-area-inset-top, 0px);
    align-items: center;
    padding-bottom: 10px !important;
    height: 60px;
    border-top: none;
    border-bottom: 1px solid  var(--playerColor);
}

.navBig img{
    width: 40px;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    border-radius: 10px;
}

.navBig div{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    display: none;
    pointer-events: none;
}

nav button{
    height: 100%;
    border-radius: 10px;
    background-color: transparent;
    outline: none;
    border: none;
    flex-grow: 1;
    flex-shrink: 0;
    transition: all .2s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 7px;
    color: var(--offWhite);
    font-weight: 600;
    font-size: 11px;
}

.navBig button{
    background-color: transparent;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: var(--offWhite);
    font-weight: 600;
    gap: 10px;
    transition: all 0.2s ease-in-out;
    font-size: 17px;
}

.navBig button:hover{
    filter: brightness(1.2);
    transform: scale(1.05);
}

.activeScreen{
    color: var(--accentColor);
}

.navBig .activeScreen{
    background-color: transparent;
}

.activeScreen i{
    color: var(--accentColor) !important;
}

.navBig button i{
    font-size: 20px;
}

nav button i{
    font-size: 18px;
    color: var(--offWhite);
}

.navBig .activeScreen i{
    color: var(--accentColor) !important;
}

/* ----- MAX WIDTH 450px ----- */

@media (max-width: 450px) {
    .loginForm{
        min-width: 75% !important;
    }
}

/* ----- MAX WIDTH 370px ----- */

@media (max-width: 370px) {
    .bpCC{
        gap: 3vw;
    }
    .bpCC button i{
        font-size: 1.5rem;
    }
    .bigPlayButton i{
        font-size: 3.2rem !important;
    }
    .rewindButton i{
        font-size: 1.7rem !important;
    }
}

/* ----- MAX WIDTH 335px ----- */

@media (max-width: 335px) {
    .bpCC{
        gap: 1vw;
    }
    .bigPlayButton i{
        font-size: 3rem !important;
    }
}

/* ----- MAX WIDTH 300px ----- */

@media (max-width: 300px) {
    .bpCC{
        gap: 0vw;
    }
    .bigPlayButton i{
        font-size: 2.5rem !important;
    }
    .bpCC button i{
        font-size: 1.2rem;
    }
    .rewindButton i{
        font-size: 1.4rem !important;
    }
    .popupItem h5{
        font-size: 15px;
    }
    .popupInfo i{
        display: none;
    }
    .popupInfo img{
        width: 50px;
    }
}

/* ----- MIN WIDTH 400px ----- */

@media (min-width: 400px) {
    .bpCC{
        gap: 5vw;
    }
    .bpCC button i{
        font-size: 2rem;
    }
    .bigPlayButton i{
        color: var(--mainColor);
        font-size: 3.6rem !important;
        margin-inline: 5px;
    }
    .rewindButton i{
        font-size: 2.3rem !important;
    }
    .bigControls img{
        width: 100% !important;
        max-width: 500px !important;
    }
}

/* ----- MIN WIDTH 500px ----- */

@media (min-width: 500px){
    header{
        display: none;
    }
    main{
        padding-top: calc(env(safe-area-inset-top) + 75px);
    }
    nav{
        display: none;
    }
    .navBig{
        display: flex;
    }
    .player{
        bottom: calc(-100svh + 15px + calc(env(safe-area-inset-bottom) * 0.6));
    }
    .playerOpen{
        height: calc(100svh);
    }
    .bigSongInfo img{
        width: 57.5vw;
    }
    .artistScreen, .playlistScreen, .categoryScreen{
        top: 60px;
        border-top: 1px solid var(--playerColor);
    }
    .loginScreen{
        top: 60px;
    }
    .makePlaylistScreen{
        top: 60px
    }
}

/* ----- MIN WIDTH 900px ----- */

@media (min-width: 900px){
    .navBig div{
        display: flex;
    }
}

/* ----- MIN HEIGHT 570px ----- */

@media screen and (max-height: 570px){
    .bigSongInfo img{
        width: 100%;
        aspect-ratio: 1 / 1;
    }
    .loginForm{
        margin-top: 10px;
    }
}

/* ----- MIN HEIGHT 515px ----- */

@media screen and (max-height: 515px){
    .loginForm input{
        padding: 13px;
        padding-inline: 15px;
    }
    .loginForm button{
        padding: 13px;
    }
}

/* ----- MIN HEIGHT 500px ----- */

@media screen and (max-height: 500px){
    .loginForm input{
        padding: 10px;
        padding-inline: 15px;
    }
    .loginForm button{
        padding: 10px;
    }
    .popupScreen{
        height: 80%;
    }
}

#autoplayBtn{
    display: flex;
    align-items: center;
    font-size: 9px;
    gap: 5px;
    color: var(--accentColor);
}

#autoplayBtn i{
    color: var(--accentColor);
    margin: 0;
    margin-right: 10px;
}

#autoplayBtn.activeBtn{
    color: var(--offWhite);
}

#autoplayBtn.activeBtn i{
    color: var(--offWhite);
    margin: 0;
    margin-right: 10px;
}

.songPlayingLi{
    background-color: var(--footerBg);
}

.draggableBarTop{
    position: absolute;
    width: 100%;
    height: 4px;
    top: 10px;
    display: flex;
    justify-content: center;
}

.draggableBarTop div{
    width: 40px;
    border-radius: 20px;
    background-color: var(--offWhite);
}